.modal-form {
    .sub-title {
        width: 100%;
        height: 30px;
        background: #eee;
        padding-left: 5px;
        line-height: 30px;
    }
    .form-box {
        padding: 10px;
        :global {
            .temp{
                margin: 10px 0 0 40px;
                // text-align: center;
                padding-left:80px; 
                line-height: 20px;
                i{
                    font-size:20px;
                    color: green;
                    position: absolute;
                    left: 52px;
                }
            }
            .ant-form-item {
                margin-bottom: 10px;
                position: relative;
                label {
                    width: 120px;
                    display: inline-block;
                    text-align: right;
                }
            }
        }
    }
    
    :global {
        .ant-form-inline .ant-form-explain {
            position: static;
        }
    }
}