.FilterForm {
    :global {
      .ant-row {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 25px;
      }
      .ant-col-2 {
        line-height: 40px;
        text-align: left;
        padding-left: 10px !important;
        //padding-right: 0 !important;
      }
      .ant-form-item-label {
        width: 160px;
        padding-right: 10px;
        box-sizing: border-box;
        overflow: visible;
      }
      .ant-form-item {
        display: flex;
      }
      .ant-form-item-control-wrapper {
        flex: 1;
      }
      .ant-input-number {
        width: 100%;
      }
    }
}



  